{% block content %}
<!doctype html>
<html>
<head>
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href={% static 'HomePage.css' %}>
</head>

<body class="Container">

    <div class="main_Container">
        <div class="main_Container_Text">
            <div class="main_Container_Title">
                <div class="main_Container_Title_Text">Django Crud Application</div>
            </div>
            <div class="main_Container_Title">
                <div class="main_Container_Title_Text">Operation</div>
            </div>
        </div>
        <div class="main_Container_Operation">
            <form class="main_Container_Operation_form">
                <div class="main_Container_Operation_Button">
                    <button class="btn success"><a href={% url 'insert' %}>Insert</a></button>
                </div>
                <div class="main_Container_Operation_Button">
                    <button class="btn info"><a href={% url 'display' %}>Display</a></button>
                </div>
                <div class="main_Container_Operation_Button">
                    <button class="btn danger"><a href={% url 'delete' %}>Delete</a></button>
                </div>
                <div class="main_Container_Operation_Button">
                    <button class="btn warning" ><a href={% url 'update' %}>Update</a></button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>

{% endblock %}