.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: rgb(236, 235, 235);
}

.main_Container{
    height: 100%;
    width:50%;
    border-radius: 15px;
    /* border: 1px solid lightgrey; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_container_Header{
    height: 20%;
    width: 100%;
    /* border: 1px solid lightgray; */
    font-family: 'Snell Roundhand', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    background-color: rgb(78, 78, 245);
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}

.text_family{
    font-family: 'Snell Roundhand', cursive;
    width: 100%;
}

.main_container_Header_Text{
    border: 1px solid lightgray;
    height: 40%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0d;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 2px 5px 0 rgb(87, 87, 87), 0 4px 15px 0 rgb(82, 80, 80);
}

.main_Container_Body{
    height: 80%;
    width: 100%;
    border: 1px solid lightgray;
    box-sizing: border-box;
    background-color: rgb(207, 182, 182);
}

.main_Container_BodyHeader{

    height: 15%;
    width: 100%;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    font-family: 'Snell Roundhand', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;

}

.main_Container_BodyOperation{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
}

.main_Container_SearchOperation{
    display: flex;
    flex-direction: column;
    min-height: 40%;
    height: fit-content;
    width: 100%;
    /* border: 1px solid white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_SearchEmpName{
    display: flex;
    width: 100%;
    height: 50%;
    border: 1px solid lightgray;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.Search_Result{
    width: 100%;
    /* min-height: 50%; */
    height: fit-content;
}

.table_Formate{
    width: 100%;
    height: fit-content;
    margin: 0 0 0 0;
    font-size: 12px;
}

.table_Formate_Row{
    width: 100%;
    height: fit-content;
    font-size: 12px;
}

.table_Formate_Header_Row{
    width: 100%;
}

.table_Formate_Attribute_Id{
    width: 15%;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 12px;
}

.table_Formate_Attribute_Name{
    width: 30%;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 12px;
}

.table_Formate_Attribute_Email{
    width: 40%;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 12px;
}

.table_Formate_Attribute_Salary{
    width: 15%;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 12px;
}

.main_Container_BodyOperation_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
}

.form_EmpName{
    display: flex;
    width: 100%;
    height: 25%;
    /* border: 1px solid lightgray;
    box-sizing: border-box; */
    justify-content: center;
    align-items: center;
}

.form_Email{
    display: flex;
    width: 100%;
    height: 25%;
    /* border: 1px solid lightgray;
    box-sizing: border-box; */
    justify-content: center;
    align-items: center;
}

.form_Salary{
    display: flex;
    width: 100%;
    height: 25%;
    /* border: 1px solid lightgray;
    box-sizing: border-box; */
    justify-content: center;
    align-items: center;
}

.label_Field{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid lightgray;
    box-sizing: border-box; */
    font-family: 'Snell Roundhand', cursive;
}

.Search_label_Field{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid lightgray;
    box-sizing: border-box; */
    font-family: 'Snell Roundhand', cursive;
    font-weight: 600;
    font-size: 15px;
}

.Search_Button_Field{
    width: 20%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search_Button{
    height: 50%;
    width: 80%;
    background-color: wheat;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 10px;
}

.EmpInput{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid lightgray;
    box-sizing: border-box; */
}

.EmpInput_Field{
    height: 50%;
    width: 90%;
    font-size: 16px;
    padding-left: 10px;
    font-family: 'Snell Roundhand', cursive;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-family: 'Andale Mono', monospace;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 2px 5px 0 rgb(87, 87, 87), 0 4px 15px 0 rgb(82, 80, 80);
    /* height: 45px; */
}

.success {
    background-color: #0000cc;
}

.form_InsertButton{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
